#teamdisplay-app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  .grid {
    display: grid;
  }

  .gap-4 {
    gap: 1rem;
  }

  .flex {
    display: flex;

    &.row {
      flex-direction: row;
    }

    &.column {
      flex-direction: column;
    }
  }

  .align-center {
    align-items: center !important;
  }

  .align-start {
    align-items: flex-start !important;
  }

  .align-end {
    align-items: flex-end !important;
  }

  .justify-center {
    justify-content: center !important;
  }

  .justify-start {
    justify-content: flex-start !important;
  }

  .justify-end {
    justify-content: flex-end !important;
  }

  .space-x-4 > * + * {
    margin-left: 1rem;
  }

  .font-semibold {
    font-weight: 600;
  }

  .text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .text-gray-600 {
    color: #4b5563;
  }

  .mt-2 {
    margin-top: 0.5rem;
  }

  .mb-1 {
    margin-bottom: 0.25rem;
  }

  .p-4 {
    padding: 1rem;
  }

  .shadow {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }

  .rounded {
    border-radius: 0.25rem;
  }

  ul, ol {
    margin: 0;
  }

  
.details-wrapper {
	width: 75vw;
	margin: 0 auto;
	background-color: #BFBFBF;
	box-shadow:0 -1px 1px 5px #BFBFBF;
}
details {
	padding: .5rem;
	font: 1rem/1.2 sans-serif;
}

summary {
	padding: .25rem 1rem;
	background-color: steelblue;
	font: bold 1.25rem/2 sans-serif;
	color:floralwhite;
	border: none;
	border-radius: 3px;
	box-shadow: 0 -1px 1px 1px rgba(0,0,0,0.5);
  cursor: pointer;
	list-style: none; /* Triangle not shown */
}
/* Triangle not shown - Style for Webkit-Browser */
summary::-webkit-details-marker {
	display: none;
}
summary::before {
	padding-right: .25rem;
	content: '+ ';  /* Instead of Triangle closed */
}
details[open] summary::before {
	padding-right: .25rem;
	font-style: italic;
	content: '- '; /* Instead of Triangle open */
}

/* Styling the summary in case of open 'details' */
details[open] summary {
	font-style: italic;
	border-radius: 3px 3px 0 0;
}

.details-content {
	margin: 0;
	padding: .25rem 1rem;
	background-color: floralwhite;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.5);
  color: steelblue;
}
.details-content p {
	font: 1.1rem/1.5 sans-serif;
}
}
